@charset "utf-8";
/* CSS Document */
.modal-body{
	background:#f6f6f6;
	height:400px;
	overflow-x:hidden;
	overflow-y:auto;
}
.form-group-box{
	border:1px solid #CCC;
	padding:20px 0;
	background:white;
}
.label-lf{
	text-align:left !important;
}
.form-group-newbox{
	border:1px solid #CCC;
	padding:20px 10px;
	background:#F6F6F6;
	margin-bottom:15px;
}
.form-group-re{
	position:relative;
}
.form-group-icon{
	position:absolute;
	top: 0;
    display: inline-block;
    height: 38px;
    padding: 6px 10px;
    right: 15px;
    cursor: pointer;
    font-weight: bold;
}
.form-title{
	padding:0;
}
h3{
	margin-top:20px;
	margin-bottom:20px;
}
.form-radio{
	margin-top:7px;
}
.form-hint{
	color:#c30223;
	margin-top:10px;
	margin-left:-15px;
}
.btn-style{
	width:80px;
	float:left;
	margin-right:20px;
	margin-left:0;
}
.form-select>div{
	width:100%;
}
.form-select>div .btn{
	width:100%;
}
.form-select>div .dropdown-menu{
	width:100%;
}